<!-- <h1>Post#show</h1>
<p>Find me in app/views/post/show.html.erb</p>
 -->

 <h2>Title: </h2><%= @post.title %></br>
 <h2>Description: </h2><%= @post.description %></br>
</br>
 <%= link_to 'Back to posts', posts_path %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  User: <%= comment.user_email%></br>
  Comment: <%= comment.body%><br>
  <% end %>

<h3>Post new comment: </h3>

<%= render 'comments/form' %>

